<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>test</title>
</head>
<body>
    <form onsubmit="call(event)" >
        email<input type="email" name="email" id="email"/>
        password<input type="test" name="password" id="password"/>
        <input type="submit" value="submit">
    </form>
    <script>
        function call(e) {
            e.preventDefault()
            console.log('response')

            let data = {}
            data.email = document.querySelector('#email').value
            data.password = document.querySelector('#password').value
            axios.post('http://localhost:3000/login', data)
                .then(response => {
                    console.log(response)
                })

        }
    </script>
</body>
</html>